#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.

In [1]:
import pandas as pd
students_data = pd.read_csv("Students_info_0.csv")
marks_data = pd.read_csv("Students_marks_0.csv")
for i in range(1, 10):
    students_data_tmp = pd.read_csv("Students_info_{0}.csv".format(i))
    marks_data_tmp = pd.read_csv("Students_marks_{0}.csv".format(i))
    students_data = pd.concat([students_data, students_data_tmp])
    marks_data = pd.concat([marks_data, marks_data_tmp])
data = students_data.merge(marks_data, left_on='index', right_on='index')   
data.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [2]:
del data['index']
data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [3]:
data.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [4]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [5]:
data.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [6]:
print("Средний балл по математике: ", data['math score'].mean())
print("Средний балл по чтению: ", data['reading score'].mean())
print("Средний балл по письму: ", data['writing score'].mean())

Средний балл по математике:  66.089
Средний балл по чтению:  69.169
Средний балл по письму:  68.054

#### Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [7]:
print(data.groupby('test preparation course')['math score'].mean())
print(data.groupby('test preparation course')['reading score'].mean())
print(data.groupby('test preparation course')['writing score'].mean())

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64
test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64
test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

#### Задание 8. Выведите на экран все различные значения из столбца lunch.

In [8]:
lunch_type = data['lunch'].unique()
for i in lunch_type:
    print(i)

standard
free/reduced

#### Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename

In [9]:
data_renamed = data.rename(columns = {"parental level of education": "education", "test preparation course": "test preparation"})
data_renamed

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Зафиксируем минимальный балл для сдачи экзамена

In [10]:
passmark = 50

#### Задание 10. Ответьте на вопросы:

* Какая доля студентов сдала экзамен по математике (passmark >= 50)?
* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [11]:
passed_math = len(data_renamed[data_renamed['math score'] >= passmark])
students_number = len(data_renamed)
print("Доля студентов, сдавших экзамен по математике: ", passed_math / students_number)

passed_math_course = len(data_renamed[(data_renamed['math score'] >= passmark) & (data_renamed['test preparation'] == 'completed')])
students_math_course = len(data_renamed[data_renamed['test preparation'] == 'completed'])
print("Доля студентов, прошедших курс подготовки, которые сдали экзамен по математике: ", passed_math_course / students_math_course)

women_failed = len(data_renamed[(data_renamed['gender'] == 'female') & (data_renamed['math score'] < passmark) & (data_renamed['test preparation'] == 'none')])
women_math_course = len(data_renamed[(data_renamed['test preparation'] == 'none') & (data_renamed['gender'] == 'female')])
print("Доля женщин, не проходивших курс подготовки к экзамену, которые не сдали экзамен по математике: ", women_failed / women_math_course)

Доля студентов, сдавших экзамен по математике:  0.865
Доля студентов, прошедших курс подготовки, которые сдали экзамен по математике:  0.9217877094972067
Доля женщин, не проходивших курс подготовки к экзамену, которые не сдали экзамен по математике:  0.20958083832335328

#### Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.
* Для каждой этнической группы выведите средний балл за экзамен по чтению
* Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [12]:
import time
start_time = time.time()
data_renamed.groupby('race/ethnicity')['reading score'].mean()

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

#### Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.

#### Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.
Это можно сделать с помощью сводных таблиц (pivot_table):

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?
Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

#### Задание 15. Сколько студентов успешно сдали все экзамены?
Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

#### Задание 16. Переведем баллы в оценки
## Система перевода баллов в оценки
#### больше 90 = A
#### 80-90 = B
#### 70-80 = C
#### 60-70 = D
#### 50-60 = E
#### меньше 50 = F (Fail)
Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [13]:
def GetGrade(average_mark):

IndentationError: expected an indented block (<ipython-input-13-9e1a58879466>, line 2)